#wrapper {
    width: 1024px;
    margin: 20px auto;
    color:black ;
    background-color:rgb(228, 222, 222);
    font-family: 'League Gothic', Arial;
    font-size: 18px;
    line-height: 1.5;
    border-color: black;
}

h1 {
    text-align: left;
    font-size: 4.2em;
    margin: 20px;
}

h2 {
    text-align: left;
    margin: 20px;
}

#MyPhoto {
    object-fit: cover;
    width: 250px; height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin: 20px;
}

header {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    justify-content: space-between;
    border-bottom: black;
  }

  #main-style {
      display: flex;
  }

  #right-section {
     border-left-style: solid;
     border-left-color: black;
     border-left-width: 1.1px;
  }

  #contacts-block {
      vertical-align: middle;
      width: 240px;
      text-align: left;
      list-style-type: none;
  }

  .icon {
    border-radius: 50%;
    width: 40px; height: 40px;
    display: flex;
}
